@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/* font-family: "Noto Sans JP", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #42a7c2;
  --color-primary-EAF1F7: #eaf1f7;
  --color-white: #ffffff;
  --color-AFAFAF: #afafaf;
  --color-F8F9FA: #f8f9fa;
  --color-333333: #333333;
  --border-gray: #e1e8ef;
}
body {
  font-family: 'Noto Sans JP', serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
.container {
  max-width: 1920px;
}
.container-sales {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.container-boxes {
  margin-top: 30px;
}
.support-menu {
  border: 1px solid var(--border-gray);
  max-width: 220px;
  height: 521px;
  position: sticky;
  top: 10px;
}
.support-menu.active {
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  max-width: 80%;
  width: 80%;
  z-index: 11;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.support-menu .support-menu_box {
  padding: 29px;
  height: 171px;
}
.support-menu .support-menu_box .support-menu__button {
  margin-top: 17.86px;
  width: 100%;
  height: 43px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1.8px;
  font-weight: 600;
  background-color: #42a7c2;
  color: var(--color-white);
  padding: 8px 6px 8px 8px;
}
.support-menu__list .support-menu__item {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  padding: 25px 33px 21px 19px;
}
.support-menu__list .support-menu__item .support-menu__link {
  font-size: 16px;
  color: var(--color-333333);
}
header,
main {
  width: 930px;
  max-width: 930px;
}
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-header_box {
  display: flex;
  align-items: center;
  gap: 26.31px;
}
.navbar-header_house {
  display: flex;
  align-items: center;
  gap: 10.13px;
  font-size: 14px;
}
.navbar-header_mobile {
  margin-right: 26.31px;
  display: none;
}
.navbar-header_box_share,
.navbar-header_box_email {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}
.close-navbar,
.bars {
  display: none;
}

.active.close-navbar,
.active.bars {
  display: block;
}
.search-bar_boxes {
  position: relative;
}
.search-bar_boxes img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.search-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: var(--color-primary-EAF1F7);
  border-radius: 50px;
  margin: 18px 0 48.5px 0;
}
.search-bar__container p {
  margin-right: 20px;
  font-size: 16px;
  color: var(--color-333333);
  font-weight: 500;
}
.search-bar__container input,
.search-bar__container button {
  height: 50px;
}
.search-bar_group {
  display: flex;
  align-items: center;
}
.search-bar__container input {
  width: 426px;
  max-width: 426px;
  margin-right: 13px;
  border-radius: 25px;
  padding-left: 48px;
  border: 1px solid var(--border-gray);
  outline: none;
}
.search-bar__container input::placeholder {
  color: var(--color-AFAFAF);
  font-family: 'Noto Sans JP', serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}
.search-bar__container button {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 94px;
  height: 49px;
  border-radius: 10px;
  color: var(--color-F8F9FA);
}
.usage-guide .usage-guide_box {
  display: flex;
  align-items: center;
  gap: 20.32px;
}
.usage-guide .usage-guide_box .usage-guide__title {
  color: var(--color-primary);
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.usage-guide .usage-guide_box .usage-guide__description {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-333333);
}
.usage-guide__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 22.88px;
}
.usage-guide .usage-guide__item {
  width: 300px;
  height: 145px;
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 42px;
}
.usage-guide .usage-guide__item .usage-guide__text {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
}
.result-screen .result-screen_explanation {
  display: flex;
  align-items: center;
  gap: 21.35px;
  margin-top: 80px;
}

.result-screen .result-screen__content .result-screen__title {
  font-size: 26px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 14.92px;
}
.result-screen .result-screen__content .result-screen__description {
  font-size: 16px;
  font-weight: 500;
}

.result-screen_output .result-screen-box {
  border-top: 1px solid var(--color-primary);
  height: 54px;
}

.result-screen_output .result-screen-box_title {
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 24.58px;
  display: inline-block;
  position: relative;
}
.result-screen_output .result-screen-box_title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: -25px;
  background-color: var(--color-primary);
}
.result-screen_items {
  margin-top: 21.08px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.result-screen_item {
  background-color: var(--color-primary-EAF1F7);
  width: 220px;
  height: 160px;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
}
.result-screen_item .result-screen__item-title {
  font-weight: 500;
  font-size: 16px;
}
.feature {
  margin-top: 96.47px;
}
.feature .feature-box {
  display: flex;
  align-items: center;
  gap: 18.44px;
}

.feature .feature__title {
  color: var(--color-primary);
  font-size: 26px;
  margin-bottom: 14.92px;
}
.feature .feature__description {
  font-size: 16px;
}
.feature-list {
  margin-top: 40.13px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 44.92px;
}
.feature-list .feature-list_item {
  width: 457.5px;
  max-width: 457.5px;
  border-top: 1px solid var(--color-primary);
  padding-top: 21.08px;
  color: var(--color-primary);
}
.feature-list .feature-list_item h3 {
  margin-bottom: 19px;
  font-size: 20px;
  position: relative;
  display: inline-block;
}
.feature-list .feature-list_item h3::before {
  position: absolute;
  content: '';
  top: -23px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--color-primary);
}
.feature-list .feature-list_item ul {
  line-height: 36px;
  font-size: 16px;
}
footer {
  margin-top: 152.92px;
  background-color: var(--color-333333);
  width: 100%;
  height: 75px;
}
footer .footer-coppyright {
  max-width: 85%;
  height: 100%;
  text-align: right;
  padding: 27px 0 29.82px 0;
}
footer p {
  color: var(--color-white);
  font-size: 12px;
}

@media (max-width: 1230px) {
  .support-menu {
    display: none;
  }
  .navbar-header_mobile {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
}
@media (max-width: 970px) {
  header,
  main {
    max-width: 750px;
  }
  .search-bar__container input {
    width: 300px;
  }
  .usage-guide .usage-guide_box,
  .feature .feature-box,
  .result-screen_items,
  .result-screen .result-screen_explanation {
    flex-wrap: wrap;
  }
  .feature-list .feature-list_item {
    width: 360px;
  }
}
@media (max-width: 790px) {
  header,
  main {
    max-width: 500px;
  }
  .search-bar__container {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 30px 0;
    height: fit-content;
  }
  .usage-guide .usage-guide__item {
    width: 230px;
  }
}
@media (max-width: 550px) {
  header,
  main {
    max-width: 400px;
  }
  .search-bar_group {
    flex-direction: column;
    gap: 10px;
  }
  .search-bar__container {
    padding: 10px 0 10px 0;
  }
  .usage-guide .usage-guide__item {
    padding: 10px;
  }
  .usage-guide .usage-guide__item {
    width: 190px;
  }
  .usage-guide .usage-guide__item .usage-guide__text {
    font-size: 15px;
  }
  .result-screen_item {
    width: 190px;
  }
  footer .footer-coppyright {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  header,
  main {
    max-width: 300px;
  }
  .navbar-header_house,
  .navbar-header_box_share,
  .navbar-header_box_email {
    font-size: 10px;
  }
  .navbar-header_box {
    gap: 10px;
  }
  .navbar-header_box_email img {
    width: 17px;
    height: 12px;
  }
  .search-bar__container input {
    width: 100%;
  }
  .search-bar__container button {
    height: 40px;
  }
  .usage-guide .usage-guide__item {
    width: 140px;
  }
  .usage-guide .usage-guide__item .usage-guide__text {
    font-size: 13px;
  }
  .result-screen_item {
    width: 100%;
  }
}
